<h1 class="text-center">Add a parking spot</h1>
<div class="container d-flex justify-content-center" style="height: 85vh">
  <%= render "form", account: @account, parking_spot: @parking_spot  %>
</div>
