.card-parking-spot {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: gray
  }
}
.card-parking-spot img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.card-parking-spot-with-link{
  overflow: hidden;
  display: flex;
  height: 120px;
  background: white;
  align-items: center;

  img{
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
}

.card-parking-spot h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-parking-spot p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.parking-info {
  flex-grow: 1;
  background: rgba(200,200,200,0.9);
  margin: 8px auto;
  border-radius: 3px;
}
.parking-info-user {
  background: rgba(200,200,200,0.9);
  margin: 8px auto;
  border-radius: 3px;
  border-left: 4px solid #40bfc1;
}
.card-parking-spot .card-parking-spot-infos {
  padding: 16px;
}

.card-parking-spot-upcoming{
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
}

.flex-grower{
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.offer-spot-btn{
background-color: rgba(185,227,198,0.8);
}

.remove-spot-btn{
background-color: rgba(240,74,89,0.8);
}
