.card-parking_spot {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: gray
  }
}
.card-parking_spot img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-parking_spot h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-parking_spot p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-parking_spot .card-parking_spot-infos {
  padding: 16px;
}

.spot_available{
background: rgba(185,227,198,0.8);
}

.spot_unavailable{
background: rgba(240,74,89,0.8);
}
