.navbar {
  height: 10vh;
  width: 100%;
  background: rgba(10,10,10,0.8);
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
  position: sticky;
}

.navbar .navbar-brand img {
  width: 40px;
}
.nav-link{
margin: 4px;
border-radius: 2px;
background-color: white;
}
