.navbar-img img {
  width: 40px;
}

.nav-top{
background-color: #393939;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 0px;
  transition: 0.3s;
}

#close-nav-btn {
  top: 5%;
  font-size: 36px;
  right: 20%;
  color: #FFFFFF;
}


#open-nav-btn {
  color:  #393939;
  z-index: 1;
  position: fixed;
  top: 2.5vh;
  font-size: 36px;
  margin-left: 5%;
}
