@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opactity: 1
  }
}

.radio-tabs .state {
  position: absolute;
  left: -10000000px;
}
.tabs {
  display: flex;
  justify-content: space-around;
}

.tab {
  font-size: 24px;
  display: inline-block;
  padding: .5em;
  vertical-align: top;
  background-color: rgba(0,0,0,0);
  cursor: hand;
  cursor: pointer;
  &:hover{
    color: gray;
  }
}

.panel {
  display: none;
}
.radio-tabs .panel {
  display: none;
}
#bookings:checked ~ .tabs #bookings-tab,
#listings:checked ~ .tabs #listings-tab{
  border-bottom: 1px solid gray;
}
#bookings:checked ~ .panels #bookings-panel,
#listings:checked ~ .panels #listings-panel{
  display: block;
}

.swal-overlay {
  background-color: rgba(50, 50, 50, 0.8);
}

.red-color
{
color:red
}

.category-icons {
  display: flex;
  flex-direction: column;
}

.upload-photo {
  width: 180px;
  margin-top: 50px;
}

.form-control {
  background: rgba(255,255,255,0.6);
}

.header {
  text-transform: uppercase;
  letter-spacing: 1px;
}
